* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Body*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    padding: 10px 20px;
}

#nav_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#nav_links {
    font-size: .8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#nav_apps{
    color: #5f6368ff;
    padding: 6px;
    border-radius: 50%;
}

#nav_apps:hover{
    background-color: #f2f2f2;
}

#nav_itens a{
    color: #000;
}

#nav_itens a:hover{
    text-decoration: underline;
}

#nav_btn {
    color: #fff;
    background-color: #1a73e8ff;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}

#nav_btn:hover {
    background-color: #1b66c9ff;
    box-shadow: 0px 0px 4px 0px #B5B5B5;
    cursor: pointer;
}

/*Section*/
section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#main_section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#input_section {
    border: 1px solid #f2f2f2;
    width: 95%;
    height: 45px;
    padding: 0 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input_section input{
    font-size: 1em;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: none;
    outline: none;
}

.icons_input{
    color: #9aa0a6ff;
}

#btn_section .btn {
    font-size: .9em;
    background-color: #f8f9faff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}

#btn_section .btn:hover, #keyboard:hover, #mic:hover {
    cursor: pointer;
}

#input_section:hover,
.btn:hover {
    border: none;
    box-shadow: 0px 0px 4px 0px #B5B5B5;
}

#main_section p {
    color: #4d5156ff;
    font-size: .8em;
}

#main_section p a{
    color: #1a0db3ff;
}

#main_section p a:hover{
    text-decoration: underline;
}

/*Footer*/
footer {
    background-color: #f2f2f2;
}

#div_footer {
    font-size: .9em;
    display: flex;
    flex-direction: column;
}

#local_footer {
    color: #9aa0a6ff;
    padding: 15px 20px;
    border-bottom: 1px solid #dadce0ff;
}

#links_footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#link_left ul {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

#link_left ul li a {
    color: #9aa0a6ff;
}

#link_left ul li a:hover{
    text-decoration: underline;
}

#link_right ul {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

#link_right ul li a{
    color: #9aa0a6ff;
}

#link_right ul li a:hover{
    text-decoration: underline;
}